{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
{% load static %}
{% load tz %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Testmania{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/video-js/video-js.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/blog.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/blog_responsive.css' %}">
</head>
<body>
    <div class="home">
		<div class="breadcrumbs_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="breadcrumbs">
							<ul>
								<li><a href="{% url 'home' %}">Bosh sahifa</a></li>
								<li><a href="{% url 'tests' %}">Testlar</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>
    <div class="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12">
    
                </div>
                <div class="col-lg-6 col-md-8">
                {% if posts %}
                    {% for post in posts %}
                        <div class="blog_post trans_200">
                            <div class="blog_post_image"><img src="/uploads/{{post.thumbnail}}" alt=""></div>
                            <div class="blog_post_body">
                                <div class="blog_post_title"><a href="#">{{post.title}}</a></div>
                                <div class="blog_post_meta">
                                    <ul>
                                        <li><a href="#">{{post.author.}}</a></li>
                                        <li><a href="#">{{post.created_at|timesince}} avval</a></li>
                                    </ul>
                                </div>
                                <div class="blog_post_text">
                                    <p>{{post.description|safe|truncatechars:250}}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
<script src="{% static 'js/blog.js' %}"></script>
</body>
</html>
{% endblock content %}