{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
{% load static %}
{% load tz %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Testmania{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/video-js/video-js.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/blog.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/blog_responsive.css' %}">
</head>
<body>
    <div class="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    {% if user.is_authenticated %}
					<div class="card profile-card mb-5">
						<div class="card-body text-center">
							<img src="{% static 'images/user.png' %}" alt="avatar" class="profile-img">
							<div class="profile-info py-3">
								<p class="profile-fullname">{{user.first_name}} {{user.last_name}}</p>
								<p class="profile-username">{{user.username}}</p>
							</div>
						</div>
						<div class="card-footer">
							<p>0 starred topics</p>
						</div>
						<div class="card-footer">
							<p>0 starred topics</p>
						</div>
					</div>
                    {% endif %}
				</div>
                <div class="col-lg-6 col-md-8">
                {% if posts %}
                    {% for post in posts %}
                        <div class="blog_post trans_200">
                            <div class="blog_post_body">
                                <div class="post-left d-flex">
                                    <img src="{% static 'images/user.png' %}" alt="">
                                    <div>
                                        <a href="#" class="post-author">Ravshan Sodiqov</a>
                                        <p class="post-date">{{post.created_at|timesince}} avval</p>
                                    </div>
                                </div>
                            </div>
                            <div class="blog_post_image">
                                <img src="/uploads/{{post.thumbnail}}" alt="">
                            </div>
                            <div class="post-right">
                                <div class="blog_post_title"><a href="blog_single.html">{{post.title}}</a></div>
                                <div class="blog_post_text">
                                    <p>{{post.description|safe|truncatechars:250}}</p>
                                    <a href="">Batafsil</a>
                                </div>
                            </div>   
                        </div>
                    {% endfor %}
                {% endif %}
                </div>
                <div class="col-lg-3">
                    
                </div>
            </div>
        </div>
    </div>
<script src="{% static 'js/blog.js' %}"></script>
</body>
</html>
{% endblock content %}