{% extends 'base.html' %}
{% block title %}{{post.title}}{% endblock title %}
{% block content %}
{% load static %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row mb-5">
      {% if post %}
	  <div class="col-lg-8">
		<div class="card mb-4">
			<img src="/uploads/{{post.thumbnail}}" alt="">
			<h3 class="card-header pb-3" style="line-height: 1.5;">{{post.title}}</h3>
			<small class="card-header py-0 pb-4"><i class="fa-solid fa-calendar-days me-2"></i>{{post.created_at}}</small>
			<div class="card-body">
			  <div class="row gy-3">
				<div class="col-md">
				  {{post.description|safe}}
				{% if post.tags %}
				<div class="demo-inline-spacing">
					{% for tag in post.tags.all %}
					<span class="badge bg-label-primary">{{tag.name}}</span>
					{% endfor %}
				</div>
				{% endif %}
				</div>
			  </div>
			</div>
		  </div>
	  </div>
      {% endif %}
    </div>
</div>
{% endblock content %}