{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
{% load static %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row mb-5">
      {% if post %}
	  <div class="col-lg-8">
		<div class="card mb-4">
			<img src="/uploads/{{post.thumbnail}}" alt="">
			<h5 class="card-header">{{post.title}}</h5>
			<div class="card-body">
			  <div class="row gy-3">
				<div class="col-md">
				  {{post.description|safe}}
				</div>
			  </div>
			</div>
		  </div>
	  </div>
      {% endif %}
    </div>
</div>
{% endblock content %}