{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
{% load static %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row mb-5">
      <div class="col-lg-8">
        <h4 class="fw-bold py-3 mb-4">Testlar</h4>
        {% if tests %}
        {% for test in tests %}
        <div class="row">
          <div class="col-md-6 col-lg-12 mb-3">
            <div class="card h-100">
              <!--<img class="card-img-top" src="{% static 'assets/img/backgrounds/test-bg.jpg' %}" alt="Card image cap" />-->
              <div class="card-body">
                <h5 class="card-title"><a href="{% url 'test' test.pk %}">{{test.name}}</a></h5>
                <p class="card-text"> 
                  {{test.desc|truncatechars:200}}
                </p>
                <div class="flex">
                  <a href="{% url 'test' test.pk %}" class="btn btn-outline-primary">Boshlash <i class="fa-solid fa-arrow-up-right-from-square mx-1"></i></a>
                  <button class="btn float-end" style="border: none;"><i class="fa-regular fa-bookmark"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body px-0 py-0">
            <div class="top-rating-header">
              <span>
                <i class="fa-solid fa-rocket"></i>
              </span>
              <h3>Eng yuqori reytingda</h3>
            </div>
            <div class="top-rating">
              <div class="single-top">
                <div class="single-top-avatar">
                  <img src="/uploads/{{user.avatar}}" alt="" class="rounded-circle" style="width: 52px; height: 52px;">
                </div>
                <div class="single-top-info">
                  <h4 class="fullname mb-0">
                    <a href="#">{{user.first_name}} {{user.last_name}}</a>
                    <span class="username mx-0">{{user.username}}</span>
                  </h4>
                  <p class="points"><i class="fa-solid fa-star"></i>1590</p>
                </div>
              </div>
              <div class="single-top">
                <div class="single-top-avatar">
                  <img src="/uploads/{{user.avatar}}" alt="" class="rounded-circle" style="width: 52px; height: 52px;">
                </div>
                <div class="single-top-info">
                  <h4 class="fullname mb-0">
                    <a href="#">{{user.first_name}} {{user.last_name}}</a>
                    <span class="username mx-0">{{user.username}}</span>
                  </h4>
                  <p class="points"><i class="fa-solid fa-star"></i>1590</p>
                </div>
              </div>
              <div class="single-top">
                <div class="single-top-avatar">
                  <img src="/uploads/{{user.avatar}}" alt="" class="rounded-circle" style="width: 52px; height: 52px;">
                </div>
                <div class="single-top-info">
                  <h4 class="fullname mb-0">
                    <a href="#">{{user.first_name}} {{user.last_name}}</a>
                    <span class="username mx-0">{{user.username}}</span>
                  </h4>
                  <p class="points"><i class="fa-solid fa-star"></i>1590</p>
                </div>
              </div>
              <div class="single-top">
                <div class="single-top-avatar">
                  <img src="/uploads/{{user.avatar}}" alt="" class="rounded-circle" style="width: 52px; height: 52px;">
                </div>
                <div class="single-top-info">
                  <h4 class="fullname mb-0">
                    <a href="#">{{user.first_name}} {{user.last_name}}</a>
                    <span class="username mx-0">{{user.username}}</span>
                  </h4>
                  <p class="points"><i class="fa-solid fa-star"></i>1590</p>
                </div>
              </div>
            </div>
            <div class="top-rating-footer">
              <a href="#">Reytingni to'liq ko'rish <i class="fa-solid fa-angle-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}