{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container-xxl flex-grow-1 container-p-y">      
	<h4 class="fw-bold py-3 mb-4">{{test.name}}</h4>
    <a href="{% url 'getfile' test.pk %}" class="btn btn-info mb-4">
        <i class="fa-solid fa-book mr-1"></i> Savollar kitobi
    </a>
	<div class="card">
        <div class="table-responsive text-nowrap">
          <table class="table table-hover">
            <thead>
              <tr>
                <th></th>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                {% for a in test.answers %}
                <tr class="countOfanswerRows">
                    <th scope="row">{{forloop.counter}}</th>
                    <td>  
                        <input class="form-check-input" type="radio" name="a{{forloop.counter}}" value="a">
                    </td>
                    <td>  
                        <input class="form-check-input" type="radio" name="a{{forloop.counter}}" value="b">
                    </td>
                    <td>  
                        <input class="form-check-input" type="radio" name="a{{forloop.counter}}" value="c">
                    </td>
                    <td>  
                        <input class="form-check-input" type="radio" name="a{{forloop.counter}}" value="d">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form action="{% url 'checkanswers' test.pk %}" method="post" id="answersForm">
            {% csrf_token %}
            <input type="text" name="answers" id="answers" hidden>
            <button type="submit" class="btn btn-success mt-4" hidden></button>
        </form>
        </div>
    </div>
    <div id="test_alert">
    </div>
    <button class="btn btn-primary mt-4" onclick="checkTest()">Testni yakunlash</button>
</div>
{% endblock content %}