{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testmania</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">
</head>
<body>
    
</body>
</html>

<div class="home">
    <div class="home_slider_container">
        <div class="owl-carousel owl-theme home_slider">
            <div class="owl-item">
                <div class="home_slider_background" style="background-image:url('{% static 'images/home-banner.jpg' %}')"></div>
                <div class="home_slider_content">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <div class="home_slider_title">Idrok, bilim & test</div>
                                <div class="home_slider_subtitle">Abituriyentlar uchun bilimlar bellashuvi</div>
                                <div class="home_slider_form_container">
                                    <a href="{% url 'tests' %}">Davom etish</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Features 

<div class="features">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Welcome To Unicat E-Learning</h2>
                    <div class="section_subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel gravida arcu. Vestibulum feugiat, sapien ultrices fermentum congue, quam velit venenatis sem</p></div>
                </div>
            </div>
        </div>
        <div class="row features_row">
            <div class="col-lg-3 feature_col">
                <div class="feature text-center trans_400">
                    <div class="feature_icon"><img src="{% static 'images/icon_1.png' %}" alt=""></div>
                    <h3 class="feature_title">The Experts</h3>
                    <div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
                </div>
            </div>

            <div class="col-lg-3 feature_col">
                <div class="feature text-center trans_400">
                    <div class="feature_icon"><img src="images/icon_2.png" alt=""></div>
                    <h3 class="feature_title">Book & Library</h3>
                    <div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
                </div>
            </div>

            <div class="col-lg-3 feature_col">
                <div class="feature text-center trans_400">
                    <div class="feature_icon"><img src="images/icon_3.png" alt=""></div>
                    <h3 class="feature_title">Best Courses</h3>
                    <div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
                </div>
            </div>

            <div class="col-lg-3 feature_col">
                <div class="feature text-center trans_400">
                    <div class="feature_icon"><img src="images/icon_4.png" alt=""></div>
                    <h3 class="feature_title">Award & Reward</h3>
                    <div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="courses">
    <div class="section_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/courses_background.jpg' %}" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Eng mashhur testlar</h2>
                    <div class="section_subtitle"><p>Kuchli raqobatlarda bilimlaringizni sinovdan o'tkazing</p></div>
                </div>
            </div>
        </div>
        <div class="row courses_row">
            {% for test in tests %}
            <div class="col-lg-4 course_col">
                <div class="course">
                    <div class="course_image"><img src="{% static 'images/test-bg.jpg' %}" alt=""></div>
                    <div class="course_body">
                        <div class="course_teacher mb-2"></div>
                        <h3 class="course_title"><a href="{% url 'test' test.id %}">{{test.name}}</a></h3>
                        <div class="course_text">
                            <p>{{test.desc}}</p>
                        </div>
                    </div>
                    <div class="course_footer">
                        <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                            <div class="course_info mr-4">
                                <span><i class="fa-solid fa-signal mr-1"></i> <b>Daraja</b> <br> 
                                    {{test.level}}
                                </span>
                            </div>
                            <div class="course_info">
                                <span><i class="fa-solid fa-list-check mr-1"></i><b>Savollar</b><br>                                                     
                                    {{test.count_of_questions}} ta 
                                </span>
                            </div>
                            <div class="course_price ml-auto">
                                <a href="{% url 'test' test.id %}"><i class="fa-solid fa-circle-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <div class="courses_button trans_200"><a href="{% url 'tests' %}">Barcha testlar</a></div>
            </div>
        </div>
    </div>
</div>

<div class="counter">
    <div class="counter_background" style="background-image:url('{% static 'images/counter_background.jpg' %}')"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="counter_content">
                    <div class="milestones d-flex flex-md-row flex-column align-items-center justify-content-between">
                        
 
                        <div class="milestone">
                            <div class="milestone_counter" data-end-value="15">0</div>
                            <div class="milestone_text">foydalanuvchilar</div>
                        </div>

                        <div class="milestone">
                            <div class="milestone_counter" data-end-value="120" data-sign-after="k">0</div>
                            <div class="milestone_text">testlar</div>
                        </div>

                        <div class="milestone">
                            <div class="milestone_counter" data-end-value="670" data-sign-after="+">0</div>
                            <div class="milestone_text">savollar</div>
                        </div>

                        <div class="milestone">
                            <div class="milestone_counter" data-end-value="320">0</div>
                            <div class="milestone_text">hamkorlar</div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="events">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Eng yuqori reytingda</h2>
                    <div class="section_subtitle"><p>Testlar uchun ballarni qo'lga kiriting va yuqori reytingni egallang</p></div>
                </div>
            </div>
        </div>
        <div class="row events_row">
            <div class="col-lg-4 event_col">
                <div class="event event_left">
                    <div class="event_body d-flex flex-row align-items-start justify-content-start">
                        <div class="event_date">
                            <div class="d-flex flex-column align-items-center justify-content-center trans_200">
                                <img src="{% static 'images/user.png' %}" alt="" class="w-100 h-100">
                            </div>
                        </div>
                        <div class="event_content">
                            <div class="event_title"><a href="#">Ravshan Sodiqov</a></div>
                            <div class="event_info_container">
                                <div class="event_info"><i class="fa fa-clock-o" aria-hidden="true"></i><span>15.08.2002 dan beri biz bilan</span></div>
                                <div class="event_info mt-3"><i class="fa-solid fa-medal"></i><span><b>1800 ball</b></span></div>
                                <div class="event_text">
                                    <p>Al-Beruniy maktabi o'quvchisi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 event_col">
                <div class="event event_left">
                    <div class="event_body d-flex flex-row align-items-start justify-content-start">
                        <div class="event_date">
                            <div class="d-flex flex-column align-items-center justify-content-center trans_200">
                                <img src="{% static 'images/user.png' %}" alt="" class="w-100 h-100">
                            </div>
                        </div>
                        <div class="event_content">
                            <div class="event_title"><a href="#">Ravshan Sodiqov</a></div>
                            <div class="event_info_container">
                                <div class="event_info"><i class="fa fa-clock-o" aria-hidden="true"></i><span>15.08.2002 dan beri biz bilan</span></div>
                                <div class="event_info mt-3"><i class="fa-solid fa-medal"></i><span><b>1800 ball</b></span></div>
                                <div class="event_text">
                                    <p>Al-Beruniy maktabi o'quvchisi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 event_col">
                <div class="event event_left">
                    <div class="event_body d-flex flex-row align-items-start justify-content-start">
                        <div class="event_date">
                            <div class="d-flex flex-column align-items-center justify-content-center trans_200">
                                <img src="{% static 'images/user.png' %}" alt="" class="w-100 h-100">
                            </div>
                        </div>
                        <div class="event_content">
                            <div class="event_title"><a href="#">Ravshan Sodiqov</a></div>
                            <div class="event_info_container">
                                <div class="event_info"><i class="fa fa-clock-o" aria-hidden="true"></i><span>15.08.2002 dan beri biz bilan</span></div>
                                <div class="event_info mt-3"><i class="fa-solid fa-medal"></i><span><b>1800 ball</b></span></div>
                                <div class="event_text">
                                    <p>Al-Beruniy maktabi o'quvchisi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="courses_button trans_200"><a href="{% url 'tests' %}">To'liq reyting</a></div>
            </div>
        </div>
    </div>
</div>

<div class="partners">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="partners_slider_container">
                    <div class="owl-carousel owl-theme partners_slider owl-loaded owl-drag">

                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(-2266px, 0px, 0px); transition: all 1.2s ease 0s; width: 3400px;">
                            <div class="owl-item cloned" style="width: 283.333px;">
                                <div class="owl-item partner_item"><img src="{% static 'images/partner_4.png' %}" alt=""></div>
                            </div>
                            <div class="owl-item cloned" style="width: 283.333px;">
                                <div class="owl-item partner_item"><img src="{% static 'images/partner_5.png' %}" alt=""></div>
                            </div>
                            <div class="owl-item cloned" style="width: 283.333px;">
                                <div class="owl-item partner_item"><img src="{% static 'images/partner_6.png' %}" alt=""></div>
                            </div>
                            <div class="owl-item" style="width: 283.333px;">
                                <div class="owl-item partner_item"><img src="{% static 'images/partner_1.png' %}" alt=""></div>
                            </div>
                            <div class="owl-item" style="width: 283.333px;">
                                <div class="owl-item partner_item"><img src="{% static 'images/partner_2.png' %}" alt=""></div>
                            </div>
                            <div class="owl-item" style="width: 283.333px;">
                                <div class="owl-item partner_item"><img src="{% static 'images/partner_3.png' %}" alt=""></div>
                            </div>
                            <div class="owl-item" style="width: 283.333px;">
                                <div class="owl-item partner_item"><img src="{% static 'images/partner_4.png' %}" alt=""></div>
                            </div>
                            <div class="owl-item" style="width: 283.333px;">
                                <div class="owl-item partner_item"><img src="{% static 'images/partner_5.png' %}" alt=""></div>
                            </div>
                            <div class="owl-item active" style="width: 283.333px;">
                                <div class="owl-item partner_item"><img src="{% static 'images/partner_6.png' %}" alt=""></div>
                            </div>
                            <div class="owl-item cloned active" style="width: 283.333px;">
                                <div class="owl-item partner_item"><img src="{% static 'images/partner_1.png' %}" alt=""></div>
                            </div>
                            <div class="owl-item cloned active" style="width: 283.333px;">
                                <div class="owl-item partner_item"><img src="{% static 'images/partner_2.png' %}" alt=""></div>
                            </div>
                            <div class="owl-item cloned" style="width: 283.333px;">
                                <div class="owl-item partner_item"><img src="{% static 'images/partner_3.png' %}" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-nav disabled">
                        <div class="owl-prev">prev</div>
                        <div class="owl-next">next</div>
                    </div>
                    <div class="owl-dots disabled"></div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
{% endblock content %}