{% extends 'base.html' %}
{% block title %} Reyting {% endblock %}
{% block content %}
{% load static %}
<div class="container-xxl flex-grow-1 container-p-y">      
    <h4 class="fw-bold py-3 mb-4">Reyting</h4>
    <div class="card">
      <form action="{% url 'rating' %}" method="post" class="py-4 px-3">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-10 col-md-12">
              <input type="text" class="form-control mb-3" value="{{searchUsertext}}" id="searchUser" name="searchUser" placeholder="Foydalanuvchi ismi yoki familiyasini yozing">
            </div>
            <div class="col-lg-2 col-md-12">
              <button class="btn btn-primary w-100"><i class="fa-solid fa-magnifying-glass me-2"></i>Qidirish</button>
            </div>
        </div>
      </form>
      {% if users_list %}
      <div class="table-responsive text-nowrap">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Foydalanuvchi</th>
              <th>Ta'lim markazi</th>
              <th>Natija</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            {% for user in users_list %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>
                <img src="/uploads/{{user.avatar}}" class="rounded-circle" style="width: 35px; height: 35px; margin-right: 7px;" alt="{{user.first_name}} {{user.last_name}}">
                <a href="{% url 'profile' user.username %}">{{user.first_name}} {{user.last_name}}</a>
              </td>
              {% if user.study_center %}
              <td>{{user.study_center}}</td>
              {% else %}
              <td>Ko'rsatilmagan</td>
              {% endif %}
              <td><i class="fa-solid fa-star me-1"></i>0</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <p class="text-center mb-5">Foydalanuvchilar topilmadi</p>
      {% endif %}
    </div>  
</div>
{% endblock content %}