{% extends 'base.html' %}
{% block title %} Reyting {% endblock %}
{% block content %}
{% load static %}
<div class="container-xxl flex-grow-1 container-p-y">      
    <h4 class="fw-bold py-3 mb-4">Reyting</h4>
    <div class="card">
      <div class="table-responsive text-nowrap">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Foydalanuvchi</th>
              <th>Ta'lim markazi</th>
              <th>Natija</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            {% for user in users_list %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>
                <img src="/uploads/{{user.avatar}}" class="rounded-circle" style="width: 35px; height: 35px; margin-right: 7px;" alt="{{user.first_name}} {{user.last_name}}">
                <a href="{% url 'profile' user.username %}">{{user.first_name}} {{user.last_name}}</a>
              </td>
              {% if user.study_center %}
              <td>{{user.study_center}}</td>
              {% else %}
              <td>Ko'rsatilmagan</td>
              {% endif %}
              <td><i class="fa-solid fa-star me-1"></i>0</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>  
</div>
{% endblock content %}